<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kabeer Classes</title>

    <!-- BOOTSTRAP5 -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
      crossorigin="anonymous"
    />
    <!-- GOOGLE FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Source+Serif+4:opsz,wght@8..60,300;8..60,400;8..60,500;8..60,600;8..60,700;8..60,800&display=swap"
      rel="stylesheet"
    />
    <!-- BOOTSTRAP-ICON LIBRARY -->

    <!-- CSS Always use bootstrap cdn before css and that way you don't have to use !important  and do not use it. -->
    <link rel="stylesheet" href="/css/style.css" />
    <!--FAV-ICON-->
    <link
      rel="shortcut icon"
      href="/assets/K-classes brand logo.svg"
      type="image/x-icon"
    />
  </head>
  <body>
    <!-- WHATSAPP CLICK TO CHAT -->
    <div class="whatsapp-chat">
      <a target="_blank" href="https://wa.me/+918595761509"
        ><img
          class="img-fluid"
          height="48"
          width="48"
          src="/assets/whatsapp.svg"
          alt=""
          srcset=""
      /></a>
    </div>

    <!-- NAVIGATION BAR - START -->
    <nav
      class="navbar navbar-expand-lg px-lg-4"
      aria-label="Offcanvas navbar large"
    >
      <div class="container-fluid">
        <a class="navbar-brand d-flex" href="/">
          <svg
            width="25"
            height="30"
            viewBox="0 0 35 45"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M9.15508 38.4862C9.12528 39.6415 9.10051 40.7534 9.06692 41.865C9.01712 43.5132 7.63914 44.8648 6.02777 44.8431C5.25821 44.8327 4.48861 44.8122 3.71951 44.7833C2.06987 44.7213 0.783123 43.3251 0.808642 41.6378C0.825226 40.541 0.832375 39.444 0.853962 38.3474C0.867568 37.6562 0.890638 37.638 1.54461 37.6534C3.89661 37.7087 6.24856 37.766 8.60048 37.8245C9.16393 37.8385 9.16384 37.8418 9.15508 38.4862ZM7.53697 42.4731C7.56896 42.3906 7.61588 42.3106 7.63066 42.225C7.78776 41.3145 7.72749 40.3933 7.75139 39.4765C7.75802 39.2221 7.53104 39.2369 7.3621 39.2324C5.77928 39.1899 4.19624 39.1555 2.61349 39.1106C2.3327 39.1027 2.2244 39.2184 2.22188 39.5014C2.21555 40.2132 2.18461 40.9249 2.1774 41.6367C2.16754 42.6096 2.87215 43.3549 3.83029 43.3895C4.49806 43.4136 5.16653 43.4179 5.83421 43.4438C6.56871 43.4722 7.12935 43.1822 7.53697 42.4731Z"
              fill="#0B2149"
            />
            <path
              d="M3.45559 34.9657C5.36922 34.9951 7.23731 35.0216 9.10533 35.0526C9.77306 35.0636 9.77299 35.0685 9.75815 35.696C9.73092 36.848 9.73092 36.8481 8.4512 36.8149C6.11222 36.7543 3.77323 36.6943 1.43429 36.6325C0.832874 36.6166 0.832944 36.614 0.84137 36.056C0.858835 34.9 0.858833 34.9 2.1342 34.9322C2.55947 34.943 2.98475 34.9538 3.45559 34.9657Z"
              fill="#0B2149"
            />
            <path
              d="M9.91312 30.5823C9.92174 31.308 9.92512 31.9883 9.94386 32.6681C9.95258 32.9845 9.83178 33.1083 9.53323 33.1105C8.02283 33.1221 6.51231 33.1373 5.00225 33.1738C4.60959 33.1833 4.50339 33.0064 4.50142 32.6243C4.49665 31.6966 4.51876 30.7693 4.50346 29.8409C4.46475 27.4911 4.48278 25.14 4.47224 22.7896C4.46753 21.7384 4.45798 20.687 4.43124 19.6363C4.42246 19.2913 4.53431 19.1535 4.85883 19.1799C5.08964 19.1987 5.32397 19.191 5.55556 19.1749C6.13425 19.1348 6.16657 19.1621 6.16844 19.7965C6.1718 20.9409 6.13417 22.0846 6.14541 23.23C6.16606 25.3331 6.1188 27.4373 6.10579 29.541C6.10274 30.0356 6.13138 30.5302 6.12972 31.0248C6.12887 31.2791 6.21994 31.3875 6.46223 31.3898C7.04001 31.3953 7.6176 31.417 8.18223 31.4317C8.2758 30.9175 8.09968 13.7267 8.00433 13.3629C7.70328 13.4521 7.47736 13.6798 7.21974 13.8415C7.00684 13.9752 6.80886 14.1363 6.59404 14.266C6.12833 14.5471 5.73606 15.1044 5.2193 15.1066C4.70878 15.1089 4.26209 14.6374 3.78399 14.381C3.28113 14.1114 2.78616 13.8251 2.2593 13.5302C2.24045 14.2504 2.20447 14.9196 2.2098 15.5883C2.21755 16.5618 2.26578 17.5347 2.27778 18.5082C2.30942 21.0741 2.32449 23.6404 2.35823 26.2063C2.3879 28.4626 2.43107 30.7186 2.47658 32.9746C2.48185 33.2356 2.38886 33.3515 2.15339 33.35C1.80464 33.3477 1.45566 33.3308 1.10728 33.3412C0.771443 33.3513 0.643875 33.1967 0.646295 32.8408C0.653963 31.712 0.64397 30.5832 0.637959 29.4544C0.627837 27.5527 0.621745 25.651 0.602809 23.7494C0.567244 20.1782 0.503335 16.6076 0.532516 13.0353C0.540801 12.0215 0.73896 11.1015 1.13363 10.1791C2.47794 7.03734 3.77377 3.87218 5.09338 0.718412C5.1802 0.5109 5.23736 0.277937 5.41723 0.119006C5.68206 0.148157 5.77168 0.363829 5.85093 0.580348C7.13604 4.09181 8.42015 7.6037 9.69946 11.1176C9.75582 11.2724 9.78995 11.4469 9.79098 11.6126C9.8038 13.6689 9.80084 15.7253 9.81722 17.7815C9.84061 20.7188 9.88006 23.6559 9.90573 26.5932C9.91721 27.9076 9.91188 29.2222 9.91312 30.5823ZM2.3233 11.113C2.17164 11.3889 2.35761 11.498 2.53787 11.6124C3.32161 12.1099 4.10979 12.5998 4.88504 13.1118C5.11074 13.2609 5.27526 13.2212 5.4749 13.0721C6.17657 12.5479 6.8771 12.0206 7.59805 11.5278C7.88313 11.3329 7.89748 11.1416 7.78967 10.8389C7.48163 9.97382 7.18631 9.10318 6.90794 8.22676C6.81727 7.94129 6.66802 7.84494 6.39763 7.85044C5.61469 7.8664 4.83099 7.88196 4.04863 7.86001C3.72716 7.85099 3.58182 7.99373 3.46802 8.28437C3.10494 9.21165 2.72454 10.1313 2.3233 11.113Z"
              fill="#0B2149"
            />
            <path
              d="M33.9829 38.6232C34.2781 38.8524 34.5419 39.0708 34.8201 39.2702C35.0371 39.4257 35.0605 39.559 34.8757 39.7677C33.3853 41.4507 31.8983 43.1366 30.4249 44.8336C30.1681 45.1294 30.0022 44.9727 29.7936 44.8103C27.9503 43.3759 26.1047 41.9443 24.2605 40.5108C20.3726 37.4888 16.4971 34.4514 12.5848 31.4593C11.9882 31.003 11.7755 30.5003 11.7221 29.8133C11.5055 27.023 11.2545 24.2352 11.0184 21.4463C11.0064 21.3037 10.9718 21.1562 11.0475 21.0143C11.2301 20.9542 11.3227 21.0982 11.4319 21.1826C18.9417 26.9884 26.4496 32.7963 33.9829 38.6232Z"
              fill="#0B2149"
            />
            <path
              d="M20.5193 6.78014C21.4904 5.47374 22.4516 4.19598 23.3905 2.90137C23.5706 2.65316 23.7841 2.55939 24.0556 2.5362C25.111 2.44606 26.1667 2.35806 27.2223 2.27067C28.6999 2.14835 30.1776 2.02728 31.6552 1.90566C31.7691 1.89629 31.8882 1.83703 31.9935 1.94095C32.0305 2.10306 31.9013 2.18563 31.8281 2.28954C26.9024 9.27802 21.9737 16.2642 17.0526 23.256C16.8531 23.5394 16.7126 23.585 16.4243 23.362C14.8179 22.1197 13.2016 20.8903 11.575 19.6755C11.2689 19.4469 11.2361 19.2973 11.4738 18.9781C14.4915 14.9263 17.4948 10.8632 20.5193 6.78014Z"
              fill="#0B2149"
            />
          </svg>
          <h4 class="ps-1 display-7 navy-blue font-weight-600">
            Kabeer Classes
          </h4></a
        >
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="offcanvas"
          data-bs-target="#offcanvasNavbar2"
          aria-controls="offcanvasNavbar2"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div
          class="offcanvas offcanvas-end text-bg-light"
          tabindex="-1"
          id="offcanvasNavbar2"
          aria-labelledby="offcanvasNavbar2Label"
        >
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasNavbar2Label">
              Kabeer Classes
            </h5>
            <button
              type="button"
              class="btn-close btn-close-dark"
              data-bs-dismiss="offcanvas"
              aria-label="Close"
            ></button>
          </div>
          <div class="offcanvas-body">
            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
              <li class="nav-item pe-3">
                <a class="nav-link font-weight-500" aria-current="page" href="/"
                  >Home</a
                >
              </li>
              <li class="nav-item pe-3">
                <a class="nav-link font-weight-500" href="#accordion">
                  Notes
                </a>
              </li>
              <li class="nav-item pe-3">
                <a class="nav-link font-weight-500" href="#accordion">
                  Practice Sheets
                </a>
              </li>
              <li class="nav-item pe-3 dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Lectures
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <a class="dropdown-item font-weight-500" href="#accordion"
                      >Action</a
                    >
                  </li>
                  <li>
                    <a class="dropdown-item font-weight-500" href="#accordion"
                      >Another action</a
                    >
                  </li>
                  <li>
                    <hr class="dropdown-divider" />
                  </li>
                  <li>
                    <a class="dropdown-item font-weight-500" href="#accordion"
                      >Something else here</a
                    >
                  </li>
                </ul>
              </li>
              <li class="nav-item">
                <a
                  target="_blank"
                  style="padding-top: 4px; padding-bottom: 4px"
                  href="https://wa.me/+918595761509"
                  class="nav-link font-weight-500"
                  ><button class="btn btn-primary font-weight-500">
                    Contact us
                  </button></a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>

    <!-- NAVIGATION BAR-END -->
  </body>
</html>
